@using QuizArena.Models
@model IList<Question>
@{
    ViewBag.Title = "FullTest";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/Content/custom.css" rel="stylesheet" />
<h2>FullTest</h2>

@if (Model != null && Model.Any())
{
    Random rnd = new Random();

    foreach (var question in Model)
    {
        //list of the answers
        var answerList = new List<string>();
        answerList.Add(question.CorrectAnswer);
        answerList.Add(question.FirstIncorrect);
        answerList.Add(question.SecondIncorrect);
        answerList.Add(question.ThirdIncorrect);

        var clickType = new List<string>();
        clickType.Add("correct-click");
        clickType.Add("incorrect-click");
        clickType.Add("incorrect-click");
        clickType.Add("incorrect-click");

        int[] numberArr = { 0, 1, 2, 3 };

        //shuffle the array
        for (int i = 0; i < 4; i++)
        {
            int random = rnd.Next(0, 4);
            int temp = numberArr[i];
            numberArr[i] = numberArr[random];
            numberArr[random] = temp;
        }

        <div class="general-holder">
            <div class="question-holder">@question.Condition</div>

            <div class="answer-holder">
                @*Shuffle the order of the answers *@
                <button class="btn btn-primary @clickType[numberArr[0]] asnwer">@answerList[numberArr[0]]</button>
                <button class="btn btn-primary @clickType[numberArr[1]] asnwer">@answerList[numberArr[1]]</button>
                <button class="btn btn-primary @clickType[numberArr[2]] asnwer">@answerList[numberArr[2]]</button>
                <button class="btn btn-primary @clickType[numberArr[3]] asnwer">@answerList[numberArr[3]]</button>
            </div>
        </div>

    }

    <div id="results"></div>

    <script>
        var questionsLeft = @Model.Count();
        var correctCount = 0;
        var inCorrectCount = 0;

        //Get the sum of the incorrect answers
        $(document).on('click', '.incorrect-click', function () {

            inCorrectCount++;
            questionsLeft--;

            

            ifLastQuestion(correctCount, inCorrectCount, questionsLeft);



        });

        //Get the sum of the correct answers
        $(document).on('click', '.correct-click', function () {

            correctCount++;
            questionsLeft--; //decreaes the questions left

            ifLastQuestion(correctCount, inCorrectCount, questionsLeft);

        });

        function ifLastQuestion(correctCount, inCorrectCount, questionsLeft) {
            if (questionsLeft < 1) {
                $.ajax({
                    url: '@Url.Action("EndFullGame", "Home")',
                    data: { correctCount: correctCount, inCorrectCount: inCorrectCount },
                    success: function (data) {
                        console.log(data);
                        $('div#results').append(data);
                    }
                });
            }
        }



    </script>
}